@tailwind base;
@tailwind components;
@tailwind utilities;

/* Stylish Scrollbar */
.scrollbar-thin::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #6e96cf;
    border-radius: 10px;
    border: none;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background-color: #4c6e9d;
}